
.result-left-icon {
    margin-top: 20px;
    float: right;
}
.result-left-icon i {
    background: #7ba660;
    color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 200px;
    line-height: 40px;
    text-align: center;
    border: 2px solid #a0cb85;
    font-size: 22px;
}
.result-content h2 {
    margin: 0px;
    font-size: 18px;
}

#content .result-content a {
  color: #5F5F5F;
}
#content .result-content h2:first-letter{
  color: #5F5F5F;
}
.who-post {
    text-transform: uppercase;
    font-weight: bold;
    color: #5F5F5F;
    font-size: 13px;
}
.category {
    color: #f67363;
}
.username {
    color: #6EC46C;
}
.category-color-1 {
    color: #f67363 !important;
}
.category-color-2 {
    color: #E8AE10 !important;
}
.category-color-3 {
    color: #1C10E8 !important;
}
.category-color-4 {
    color: #0CADE8 !important;
}
.category-color-5 {
    color: #FF5B00 !important;
}
.category-color-6 {
    color: #6C8DC4 !important;
}
.category-color-7 {
    color: #C4BB6C !important;
}
.question-content hr {
    margin-top: 10px;
    margin-bottom: 18px;
    border-top: 1px solid #f1f0f0;
}

.dot-icon {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 5px;
    vertical-align: middle;
}

.result-section {
  padding-left: 20px;
}

.result-section h4 {
    color: #cacaca;
    margin-top: 20px;
}

.result-left-icon > img {
  width: 50px;
  height: 50px;
  margin-right: -10px;
}
