.login-container{height:284px; width:217px; background:black; border-top:2px solid red;}
.head_title h4{color:white; text-align:center; font-size:14px; color:#ccc;}
.pictures {text-align:center;}
.pictures1 {text-align:center;}
.pictures2 {text-align:center;}
.pictures3 {text-align:center;}
.pictures4 {text-align:center;}
.pictures5 {text-align:center;}
.pictures img{width:180px; height:30px; text-align:center; margin-bottom:4px;}
.pictures1 img{width:180px; height:30px; text-align:center; margin-bottom:4px;}
.pictures2 img{width:180px; height:30px; text-align:center; margin-bottom:4px;}
.pictures3 img{width:180px; height:30px; text-align:center; margin-bottom:4px;}
.pictures4 img{width:180px; height:30px; text-align:center; margin-bottom:4px;}
.pictures5 img{width:180px; height:30px; text-align:center; margin-bottom:4px;}
